TELEGRAM_TOKEN=""
VSEGPT_TOKEN=""
VSEGPT_URL="https://api.vsegpt.ru/v1"
CHAT_TEMPERATURE=0.8
TG_ADMIN_ID=""
CHAT_MAX_WORDS=1000
ENABLE_WEB_SEARCH=0
MAIN_CHAT_MODEL="anthropic/claude-3-haiku"
ENABLE_AUTOTRANSLATE=0
ENABLE_OMF=0